    <style type="text/css">
     

        .field_with_errors {
          @extend .has-error;
          .form-control {
            color: $state-danger-text;
          }
        }
    </style>

<% if @compaies == nil then%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <h1><p>There are no company containing the term(s) <%= params[:search] %>.</p></h1>
  </div>
<% end %>