    <style type="text/css">
     

        .field_with_errors {
          @extend .has-error;
          .form-control {
            color: $state-danger-text;
          }
        }
    </style>

<% if @compaies == nil then%>
  <div id="error_explanation">
    <div class="alert alert-danger" >
      <h4 align="center"><p>There is no company containing the term(s) <%= params[:search] %>.</p></h4>
  </div>
<% end %>