<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/javascript/js/Highstock/highstock.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<head>
   <%= render 'shared/navbar_Layout' %>
    <style type="text/css">
        div.about {
    
            background-color: rgba(192,192,192,1);
            padding: 20px ;
            border-radius: 5px
            color:black;
        }
    </style>
</head>
<br>
<br>

<body background="/assets/background.png"  style="background-repeat:no-repeat;background-size:cover;">
    
<div class="login about" style="width:70%;">
    <div class="about">
        <h1><strong>About Us</strong></h1>
        <h4>Is a complete aid system to new and advance investors that are interested in Technical Analysis and investing. Not only that it provide assistance in technical analysis, it also provide users with real time news of the stocks 
        </h4>
        <br>
        <br>
        <h5>We are located at UiTM Shah Alam Selangor, Malaysia</h5>
        <h5> Contact Us: +60176890023 </h5>

    </div>
    
    </div>

   <div class="opact"></div>
</body>