<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<head><%= render 'shared/navbar_Layout' %>
</head>
<br>
<br>
<h1>News</h1>
        <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Quality Human Capital Key To Country's Success - King </h3>
            <p>KUALA LUMPUR, April 24 (Bernama) -- Yang di-Pertuan Agong Sultan Muhammad V said quality human capital is the key to the success of Malaysia in the future. </p>
            <p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
          </div>
        </div>
      </div>

       <div class="row-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Cathay Pacific Aims To Fly Higher </h3>
            <p>   

            Sunday, 09 April 2017

            By Christine Lim KUALA LUMPUR, April 9 (Bernama) -- Hong Kong-based airline, Cathay Pacific, aims to fly higher after a turbulent year and increase its footprint in Malaysiaby expanding its flight network and offering competitive fares

            </p>
            <p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
          </div>
        </div>
      </div>

       <div class="row-md-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Victim's Father To Take Legal Action</h3>
            <p> 
            ALOR SETAR -- The father of the 12-year-old girl who was hit by stray shotgun pellets in Kampung Lubok Keriang, Mukim Lesong, Langgar here yesterday, is planning to take legal action against..</p>
            <p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
          </div>
        </div>
      </div>
    </div>

        
 
