<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/javascripts/js/Highstock/highstock.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<head> <div><nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Investment Aid System</a>
        <ul class="nav navbar-nav">
            <li ><a href="/views/welcome/homepage.html">Home</a></li>
            <li><a href="/views/viewer/company.html">Companies</a></li>
            <li><a href="/views/viewer/news.html">News</a></li>
            <li ><a href="/views/welcome/about.html">About</a></li>
            <li><a href="/views/session/login.html">Login</a></li>
          </ul>

        </nav>
    </div>
</head>
<br>
<br>
<h1>Analyzer#centralAnalysis page </h1>

<div id="container" style="height: 400px; min-width: 310px"></div>
<script type="text/javascript">

var seriesOptions = [],
    seriesCounter = 0,
    names = ['data', 'predict'];


function createChart() {

      Highcharts.stockChart('container', {
        chart: {
        width: 890
    },
        plotOptions: {
         candlestick: {
                color: 'red',
                upColor: 'green'
        }
    },
        rangeSelector: {
            selected: 1
        },

        title: {
            text: data[0].stock_tickers+' Stock Historical Data'
        },

        yAxis: [{
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'OHLC'
            },

            height: '60%',
            lineWidth: 2
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'Volume'
            },
            top: '65%',
            height: '35%',
            offset: 0,
            lineWidth: 2
        }],

        tooltip: {
            split: true
        },

        series: seriesOptions
    });
}

$.each(names, function (i, name) {

    $.getJSON('/views/analyzer/'+name+'/'+ <%=ticker =>//# from controller
        , function (data) {


        if name=== 'data' {
            var ohlc = [],
        volume = [],
        dataLength = data.length,
       
        i = 0;

    for (i; i < dataLength; i += 1) {
        ohlc.push([

            parseInt(data[i].price_date), // the date
            data[i].price_open, // open
            data[i].price_high, // high
            data[i].price_low, // low
            data[i].price_close// close
        ]);

        volume.push([
            parseInt(data[i].price_date), // the date
            data[i].volume // the volume
        ]);

        seriesOptions[i] = {
                name: name,
                data: ohlc
            };
        }

     }
        // As we're loading the data asynchronously, we don't know what order it will arrive. So
        // we keep a counter and create the chart when all the data is loaded.
        seriesCounter += 1;

        if (seriesCounter === names.length) {
            createChart();
        }
    });
});

</script>
<br>

<%= @stdout %>
<%= @ticker%>
