<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/javascript/js/Highstock/highstock.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<head> <div><nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Investment Aid System</a>
        <ul class="nav navbar-nav">
            <li ><a href="/views/welcome/homepage.html">Home</a></li>
            <li><a href="/views/viewer/company.html">Companies</a></li>
            <li><a href="/views/viewer/news.html">News</a></li>
            <li ><a href="/views/welcome/about.html">About</a></li>
            <li><a href="/views/session/login.html">Login</a></li>
          </ul>

        </nav>
    </div>
</head>
<br>
<br>
<h1>Analyzer#centralAnalysis page </h1>

<div id="container" style="height: 400px; min-width: 310px"></div>
<script type="text/javascript">
$.getJSON('/views/analyzer/data', function (data) {

    // split the data set into ohlc and volume
    var ohlc = [],
        volume = [],
        dataLength = data.length,
       // var name =  String(data[0].stock_tickers)
        // set the allowed units for data grouping
       
        i = 0;

    for (i; i < dataLength; i += 1) {
        ohlc.push([

             parseInt(data[i].price_date), // the date
            data[i].price_open, // open
            data[i].price_high, // high
            data[i].price_low, // low
            data[i].price_close// close
        ]);

        volume.push([
            parseInt(data[i].price_date), // the date
            data[i].volume // the volume
        ]);
    }


    // create the chart
    Highcharts.stockChart('container', {
        chart: {
        width: 890
    },
        plotOptions: {
         candlestick: {
                    color: 'red',
                    upColor: 'green'
        }
    },
        rangeSelector: {
            selected: 1
        },

        title: {
            text: data[0].stock_tickers+' Stock Historical Data'
        },

        yAxis: [{
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'OHLC'
            },

            height: '60%',
            lineWidth: 2
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'Volume'
            },
            top: '65%',
            height: '35%',
            offset: 0,
            lineWidth: 2
        }],

        tooltip: {
            split: true
        },

        series: [{
            type: 'candlestick',
            name: data[0].stock_tickers,
            data: ohlc

        }, {
            type: 'column',
            name: 'Volume',
            data: volume,
            yAxis: 1,
           
        }]
    });
});
    </script>
    <br>

<%= @stdout %>
<%= @ticker%>
